@charset "UTF-8";
body{
    width: 1200px;
    height: auto;
    background-image: url("basketball-at-the-center-of-wooden-court-3d-rendering-picture-id1145805477-75499750.jpg");
   background-size: cover;
}

a{
    color: dimgray;
    text-decoration: none;
    
}

a:hover{
    color:crimson;
}

.header1{
    margin-top: 50px;
    width:auto;
}

.titrep1{
    position: fixed;
    width: auto;
    background-color: orange;
    font-family:Chalkduster;
    color: white;
    z-index: 5;
    margin: -35px;
    margin-left: 820px;
    padding: 5px;
    border-bottom-right-radius:10px;
}

.titrep2{
    position: fixed;
    width: auto;
    background-color: crimson;
    font-family:Chalkduster;
    color: white;
    z-index: 5;
    margin: -35px;
    margin-left: 820px;
    padding: 5px;
    border-bottom-right-radius:10px;
}

.titrep3{
    position: fixed;
    width: auto;
    background-color: darkviolet;
    font-family:Chalkduster;
    color: white;
    z-index: 5;
    margin: -35px;
    margin-left: 820px;
    padding: 5px;
    border-bottom-right-radius:10px;
}
.titrep4{
    position: fixed;
    width: auto;
    background-color: burlywood;
    font-family:Chalkduster;
    color: white;
    z-index: 5;
    margin: -35px;
    margin-left: 820px;
    padding: 5px;
    border-bottom-right-radius:10px;
}

.titrep5{
    position: fixed;
    width: auto;
    background-color: gold;
    font-family:Chalkduster;
    color: white;
    z-index: 5;
    margin: -35px;
    margin-left: 820px;
    padding: 5px;
    border-bottom-right-radius:10px;
}

img{
    margin-top: 15px;
   width:100%;
    height: auto;
}

.IMG2{
    width: 100%;
    margin-top: -20px;
   margin-left: 20px;
    box-shadow:  3px 3px 3px black;
}

.bandev{
    margin-top: -50px;
    width: 100%;
    height:60px;
    background-color: black;
    position:fixed;
    z-index: 1;
}

ul{ margin-top: -40px;
    position:fixed;
    padding-left: 0px;
    display:flex;
    z-index: 2;
    
    
}

li{
    
    margin-right:3px;
    background-color: antiquewhite;
    border:3px black solid;
    border-bottom-right-radius:15px;
    box-shadow: 3px 3px 6px black;
    padding: 20px;
    list-style-type: none;
    text-decoration: none;
}

section1{
    width: 100vh;
    box-shadow:  3px 3px 3px black;
    margin-bottom: 50px;
}

section2{
    padding: 50px;
    width: 900px;
    height: 600px;
    display: flex;
    
    
}
pre{
    background-color: whitesmoke;
    width: 700px;
    height: 400px;
    padding: 20px;
    margin: 10px;
    overflow: auto;
    box-shadow:  3px 3px 3px black;
}

.regles{
    width: 100vh;
    height: auto;
   
}

h1{
    width: 210px;
    background-color: antiquewhite;
    border:3px black solid;
    border-bottom-right-radius:15px;
    box-shadow: 3px 3px 6px black;
    padding: 20px;
    list-style-type: none;
}


.h1A{
    width: 210px;
    background-color:orange;
    border:3px black solid;
    border-bottom-right-radius:15px;
    box-shadow: 3px 3px 6px black;
    padding: 20px;
    list-style-type: none;
}

.h1B{
    width: 210px;
    background-color: crimson;
    border:3px black solid;
    border-bottom-right-radius:15px;
    box-shadow: 3px 3px 6px black;
    padding: 20px;
    list-style-type: none;
}
 .h1C{
    width: 210px;
    background-color: darkviolet;
    border:3px black solid;
    border-bottom-right-radius:15px;
    box-shadow: 3px 3px 6px black;
    padding: 20px;
    list-style-type: none;
}
 
.h1D{
    width: 210px;
    background-color: burlywood;
    border:3px black solid;
    border-bottom-right-radius:15px;
    box-shadow: 3px 3px 6px black;
    padding: 20px;
    list-style-type: none;
}

.h1E{
    width: 210px;
    background-color:gold;
    border:3px black solid;
    border-bottom-right-radius:15px;
    box-shadow: 3px 3px 6px black;
    padding: 20px;
    list-style-type: none;
}

iframe{
    border-bottom-right-radius:20px;
    box-shadow: 3px 3px 6px black;
    margin-right: 10px;
}

.A1{ 
  
    width: auto;
    height: auto;
    margin-left: 50px;
    display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 5px;
grid-row-gap: 5px;
    
}

.footer1{
    color:whitesmoke;
    background-color: black;
    width: 1400px;
    height: 60px;
    padding-top: 10px;
    text-align: center;
    padding-top: 20px;
    
}